<div class="lang-tabs">
  <a href="{{ site.baseurl }}/{{ include.section }}/ja/" class="tab {% if include.lang == 'ja' %}active{% endif %}">日本語</a>
  <a href="{{ site.baseurl }}/{{ include.section }}/en/" class="tab {% if include.lang == 'en' %}active{% endif %}">English</a>
  <a href="{{ site.baseurl }}/{{ include.section }}/ko/" class="tab {% if include.lang == 'ko' %}active{% endif %}">한국어</a>
  <a href="{{ site.baseurl }}/{{ include.section }}/es/" class="tab {% if include.lang == 'es' %}active{% endif %}">Español</a>
</div>
